<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BSc (Hons) in Computer Science - 2(i)</h1>
            <span>University of Manchester - <address>Manchester, UK</address><time>1998 to 2000</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>GNVQ Advanced Information Technology - Distinction</h1>
            <span>Stockport College - <address>Manchester, UK</address><time>1996 to 1998</time></span>
        </header>
    </article>
</section>