<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Head of Engineering</h1>
            <span><address>EA Chillingo - Macclesfield, UK</address><time>2009 to Present</time></span>
        </header>
        <p>As Chillingo’s first employee I helped it grow to become the one of the most successful smartphone game publishers in the world, producing titles such as Angry Birds and Cut the Rope across all mobile platforms. 
            I architected the Crystal social gaming platform, which was key to Chillingo's acquisition by Electronic Arts in 2010 and developed entirely in-house.
            As our external developers increased in size and their back-end systems became complex I established a Due Diligence process to provide technical oversight and certification.</p>
        <br/><h5>Accomplishments</h5>
        <ul>
            <li>Designed and developed a 30m user social gaming platform for iOS and Android</li>
            <li>Designed and developed a patented cross promotional network, driving over 3m installs to date</li>
            <li>Oversaw the server implementation for over 40 distinct game projects across all major back-end technologies</li>
        </ul>
        <h5>Responsibilities</h5>
        <ul>
            <li>Leadership of Chillingo's in-house development team producing our own cross-promotion, social and compliance systems</li>
            <li>Ownership of Chillingo's technical roadmap and strategy for both internal technologies partner solutions</li>
            <li>Technical oversight and consultancy for all external suppliers to ensure scalability, security and reliability</li>
            <li>Legal support for all projects, including a legal compliance SDK and technical investigations for litigation cases</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Principal Software Engineer</h1>
            <span><address>EMCC Software - Manchester, UK</address><time>2002 to 2009</time></span>
        </header>
        <p>During my time at EMCC I progressed from Graduate Software Engineer to Prinical Software Engineer. 
        As well as heading up several in-house projects I enjoyed extended on-site placements at Symbian and Sony Ericsson.</p>
        <br/><h5>Accomplishments</h5>
        <ul>
            <li>Designed and developed a Microsoft ActiveSync push email client for Symbian devices</li>
            <li>Technical feasibility study for the development of a new UX paradigm on Symbian UIQ, which was used in several Sony Ericsson handsets</li>
        </ul>
        <h5>Responsibilities</h5>
        <ul>
            <li>Leadership for the development of several in-house projects for customers such as Motorola, Symbian and Sony Ericsson</li>
            <li>Supporting the Business Development team by producing proposals, estimates and liaising with the customer</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>NCC Glabal - Manchester, UK</address><time>2000 to 2002</time></span>
        </header>
        <p>After leaving university I worked at the former National Computing Centre in Manchester. 
        My duties involved Windows and UNIX development in C and TCL/TK, and working on customer sites to integrate the telecommunications testing software that we produced.</p>
    </article>
</section>