<section class="thirteen columns">
    <h1>Employment and Major Contracts</h1>

    <article>
        <header>
            <h1>Chief Technical Officer</h1>
            <span><address><a href="https://www.clothes-doctor.com/" target="_blank">Clothes Doctor</a> - London, UK</address><time>2017 to Present</time></span>
        </header>
        <p>Clothes Doctor is an online clothes repairs and alterations service, serving the whole of the UK. I came on board to take the over-budget and poor quality website over the finish line. 
            After transitioning away from the original developer we have moved to an offshore team for the front-end website and developed a backend order management system in-house.
        </p>
        <br/>
        <h5>Accomplishments</h5>
        <ul>
            <li>Delivered a performant customer-facing service through effective supplier management and a structured approach to quality</li>
            <li>Developed an effective order management system to streamline processes and provide a quality service to customers</li>
        </ul>
        <h5>Responsibilities</h5>
        <ul>
            <li>Ongoing development and maintenance of the order management system</li>
            <li>Management of the Indian development team working on the customer-facing website</li>
            <li>Development and management of cloud infrastructure</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Technical Consultant</h1>
            <span><address><a href="http://friendrequest.co.uk/" target="_blank">Friend Request</a> - London, UK</address><time>2017 to Present</time></span>
        </header>
        <p>Friend Request is an iOS app connecting active users with others that match their interests. I initially worked with Friend Request to design and implement their Google Cloud infrastructure and deployment processes.
            More recently I head the development of the iOS app, managing two London-based developers and working with the founders to define features and manage workload.
        </p>
        <br/>
        <h5>Accomplishments</h5>
        <ul>
            <li>Deployed a complex Python-based API backend across various Google Cloud services and implemented a comprehensive Continuous Integration setup</li>
            <li>Developed various application features such as chat and image handling on Firebase to reduce server load and pressure on develpment resources</li>
        </ul>
        <h5>Responsibilities</h5>
        <ul>
            <li>Leading the development of the Swift-based iOS app</li>
            <li>Development and management of cloud infrastructure and Continuous Integration</li>
            <li>Feature definition and sprint management</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Chief Technical Officer</h1>
            <span><address><a href="http://yogassential.com/" target="_blank">Yogassential</a> - Manchester, UK</address><time>2017 to Present</time></span>
        </header>
        <p>Yogassential provides private yoga lessons to homes around the UK. Driven by a customer-facing iOS app and a Ruby on Rails back-end, the service is delivering on its expectations and building its user base. My initial consultancy phase took the
            bug-ridden, unfinished and over-budget product to store readiness. Since then I have taken on the CTO role to oversee the ongoing development of the project, transition away from the original developer and drive uptake.
        </p>
        <br/>
        <h5>Accomplishments</h5>
        <ul>
            <li>An effective consultancy phase, delivering a finished product and streamlined development process at no cost to the customer</li>
            <li>Spearheaded ongoing efforts to franchise the system into new markets</li>
        </ul>
        <h5>Responsibilities</h5>
        <ul>
            <li>Ongoing development and maintenance of the iOS and Android consumer apps</li>
            <li>Product management and marketing consultancy for the live service</li>
            <li>Management of the outsourced development team that work on the back-end and dashboard functionality</li>
            <li>Business development, pushing the system into new markets through a licensing model</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Head of Engineering</h1>
            <span><address><a href="https://www.ea.com/en-gb" target="_blank">EA Chillingo</a> - Macclesfield, UK</address><time>2009 to Present</time></span>
        </header>
        <p>Chillingo is an independent publisher of mobile games, now part of Electronic Arts. As Chillingo’s first employee I helped it grow to become the one of the most successful smartphone game publishers in the world, producing titles such as Angry
            Birds and Cut the Rope across all mobile platforms. I architected the Crystal social gaming platform, which was key to Chillingo's acquisition by Electronic Arts in 2010 and developed entirely in-house. As our external developers increased
            in size and their back-end systems became complex I established a Due Diligence process to provide technical oversight and certification.</p>
        <br/>
        <h5>Accomplishments</h5>
        <ul>
            <li>Designed and developed a 30m user social gaming platform for iOS and Android</li>
            <li>Designed and developed a patented cross promotional network, driving over 3m installs to date</li>
            <li>Oversaw the server implementation for over 40 distinct game projects across all major back-end technologies</li>
        </ul>
        <h5>Responsibilities</h5>
        <ul>
            <li>Leadership of Chillingo's in-house development team producing our own cross-promotion, social and compliance systems</li>
            <li>Ownership of Chillingo's technical roadmap and strategy for both internal technologies and partner solutions</li>
            <li>Technical oversight and consultancy for all external suppliers to ensure scalability, security and reliability</li>
            <li>Legal support for all projects, including a legal compliance SDK and technical investigations for litigation cases</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Principal Software Engineer</h1>
            <span><address>EMCC Software - Manchester, UK</address><time>2002 to 2009</time></span>
        </header>
        <p>During my time at EMCC I progressed from Graduate Software Engineer to Principal Software Engineer. As well as heading up several in-house projects I enjoyed extended on-site placements at Symbian and Sony Ericsson.</p>
        <br/>
        <h5>Accomplishments</h5>
        <ul>
            <li>Designed and developed a Microsoft ActiveSync push email client for Symbian devices</li>
            <li>Technical feasibility study for the development of a new UX paradigm on Symbian UIQ, which was used in several Sony Ericsson handsets</li>
        </ul>
        <h5>Responsibilities</h5>
        <ul>
            <li>Leadership for the development of several in-house projects for customers such as Motorola, Symbian and Sony Ericsson</li>
            <li>Supporting the Business Development team by producing proposals, estimates and liaising with the customer</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>NCC Global - Manchester, UK</address><time>2000 to 2002</time></span>
        </header>
        <p>After leaving university I worked at the former National Computing Centre in Manchester. My duties involved Windows and UNIX development in C and TCL/TK, and working on customer sites to integrate the telecommunications testing software that we
            produced.
        </p>
    </article>
</section>