<section class="thirteen columns">
    <h1>Introduction</h1>
    <article>
        <p>
            An experienced software engineer, architect and manager; pleased to have had the opportunity to develop my skills in the ever-changing mobile and gaming ecosystems.
        </p><br/>
        <p>
            A proven track record of building innovative and scalable products. Adept at solving complex problems and working with internal and external teams to bring engaging experiences to market.
        </p>
    </article>


    <article>
        <header>
            <h1>Qualifications</h1>
        </header>

        <p>
            <ul>
                <li>Drives customer-focused, iterative development aligned with business goals and supported by data</li>
                <li>Delivers engaging experiences on-time and on-budget</li>
                <li>Collaborates with internal and external teams to ensure products are fit for purpose and engineered for success</li>
                <li>Constantly keeps up-to-date with new technologies, tools and architectures</li>
            </ul>
        </p>

    </article>
</section>