<section class="thirteen columns">
    <h1>Introduction</h1>
    <article>
        <p>
            An experienced engineering manager, architect and consultant; pleased to have had the opportunity to develop my skills in the ever-changing mobile and gaming environments.
        </p><br/>
        <p>
            Proven track record of building and leading teams to construct innovative and scalable products. Adept at solving complex problems and working with internal and external teams to bring successful products to market.
        </p>
    </article>


    <article>
        <header>
            <h1>Qualifications</h1>
        </header>

        <p>
            <ul>
                <li>Excels at leading the development of engaging, scalable products</li>
                <li>Drives customer-focused, iterative development aligned with business goals and supported by data</li>
                <li>Engages with internal and external teams to ensure products are fit for market and engineered for success</li>
            </ul>
        </p>

    </article>
</section>